include gifes/*.gif
include gifes/*.png

include locale/en/LC_MESSAGES/en.mo
include locale/en/LC_MESSAGES/en.po
include locale/ru/LC_MESSAGES/ru.mo
include locale/ru/LC_MESSAGES/ru.po

include ./*.py